{% extends 'base.html.twig' %}

{% block body %}
  <h1>ツラミドットコム</h1>
  {#<script src="https://unpkg.com/vue@2.3.3"></script>#}
  <strong>{{ tsurami.text }}</strong>

{% endblock %}

{% block stylesheets %}
{% endblock %}
