{% extends 'base.html.twig' %}

{% block body %}
    <h1>ログインページ</h1>
    {# TODO: http://twitcasting.tv/indexapiv2.php の画像を利用する #}
    <a href="{{ path('account_twitcasting_login', {}) }}">ツイキャスでログイン</a>
{% endblock %}

{% block stylesheets %}
{% endblock %}
